img {
    width: 400px;
    height: auto;
}

h1 {
    color: purple;
    background-color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

h4 {
    color: green;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}